html,
body {
    overflow: hidden;
    /* background: #fff; */
    width: 100%;
    height: 100%;
    color: #535353;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
table,
tbody,
th,
td {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
b,
i {
    font-weight: normal;
    font-style: normal;
}

ol,
ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
}

input,
button,
textarea,
select,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

body {
    font-size: 12px;
    font-family: 微软雅黑;
}

a {
    color: #535353;
    text-decoration: none;
    outline: none;
    background: none;
    cursor: pointer;
}

input,
button,
select,
textarea {
    outline: none;
}

textarea {
    resize: none;
}

input,
img {
    vertical-align: middle;
    border: 0;
    outline: 0
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.cf {
    zoom: 1;
}

.cf:after {
    display: block;
    content: '';
    clear: both;
    overflow: hidden;
    visibility: hidden;
    height: 0
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #f8f8f8;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /*background: rgba(255, 255, 255, .4);*/
    background: #999999;
}

[v-cloak] {
    display: none;
}

.el-pager li.active {
    background-color: #e13228;
    border-color: #e13228;
    color: #fff;
}

.el-pager li:hover {
    color: #e13228;
}

.el-pager li.active:hover {
    color: #fff;
}

.pagination-box {
    text-align: center;
    margin: 15px auto;
}

.el-pagination button:hover {
    color: #e13228;
}