.sug-wrapper {
    position: absolute;
    top: 40px;
    left: 0;
    background: #fff;
    z-index: 100000;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

li {
    /*display: flex;*/
}

.sug-list {
    border-radius: 5px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .3);
}

.sug-list li {
    border-bottom: solid 1px #f2f2f2;
}

.sug-list>li {}

.sug-list li:last-child {
    border-bottom: none;
}

.sug-title {
    display: flex;
    width: 100%;
    height: 33px;
    line-height: 33px;
    border-bottom: 1px solid #f2f2f2;
    padding: 0 7px;
    box-sizing: border-box;
    color: #333333;
}

.sug-section {
    display: flex;
    border-bottom: solid 1px #f2f2f2;
}

.sug-section:last-child {
    border-bottom: none;
}

.sug-detail-label {
    flex: 0 0 40px;
    padding: 7px 0 0 7px;
    box-sizing: border-box;
    color: #999999;
}

.sug-res-list {
    flex: 0 0 300px;
    border-left: solid 1px #f2f2f2;
    box-sizing: border-box;
}

.sug-res-list li {
    width: 390px;
    height: 34px;
    line-height: 34px;
    box-sizing: border-box;
    border-bottom: solid 1px #f2f2f2;
    padding-left: 7px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #333333;
}

.sug-res-list li.sug-li-songlist {
    position: relative;
}

.sug-res-list li:last-child {
    border-bottom: none;
}

.sug-res-list li a {
    display: inline-block;
    width: 340px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sug-res-list li a.song-name-box {
    width: 340px;
}

.sug-res-list .play-icon {
    display: none;
    width: 20px;
    height: 20px;
    background: url('~static/images/listIcon/icon1.svg') no-repeat;
    cursor: pointer;
    vertical-align: 7px;
    position: absolute;
    right: 5px;
    top: 7px;
}

.sug-res-list .play-icon:hover {
    background: url('~static/images/listIcon/icon1_1.svg') no-repeat;
}

.sug-res-list li:hover,
.sug-res-list li.selectback {
    background: #f2f2f2;
}

.sug-res-list li:hover .play-icon,
.selectback .play-icon {
    display: inline-block;
}

[v-cloak] {
    display: none;
}

.search-history-list-li,
.search-history-list-li ul.sug-res-list,
.search-history-list-li a {
    width: 100%;
    flex: none;
}