<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>baidu-music</title>
    <script type="text/javascript" src="./static/muplayer/jquery-3.1.1.min.js"></script>
    <script src="./static/muplayer/player.js"></script>
    <script src="http://static0.qianqian.com/pc-tpass/prd/scripts/jsdk/tpass-3.0.0.js"> </script>
    <script src="http://static0.qianqian.com/pay/sdk/bdpay.min.js"> </script>
    <script>
      // 百度统计
      var _hmt = _hmt || [];
      (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?f00f66d285b6ebbe5b43ca8848640d5e";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
      })();
    </script>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <script>
      if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
    </script>

    <!-- webpack builds are automatically injected -->
  </body>
</html>
