html,body{	
	background-color:#f8f8f8;
}
.wrapper{
	width:774px;
	margin:0 auto;
}
.container{
	width:100%;	
	padding:18px;
	display: flex;
	background: #f8f8f8;
}
.dy-top-box{
	margin-bottom: 10px;
}
.dy-top-title{
	width:100%;
	height: 21px;
	line-height: 21px;
	border-left:4px solid #ffc000;
	font-size:18px;
	padding-left: 10px;
}
.dy-ls{
	width:543px;
	/*flex:1;*/
}
.dy-section{
	padding:18px;
	background-color:#fff;
	margin-bottom: 16px;
}

.dy-topic-theme-box{
	position: relative;
}

.dy-topic-theme-box .dy-topic-pic{
	width:508px;
	height:250px;	
}
.dy-topic-theme-box .dy-topic-title,.dy-topic-theme-box .dy-topic-num{
	width:100%;
	position: absolute;
	top:100px;
	left:0;
	color:#fff;
	font-size:16px;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.dy-topic-theme-box .dy-topic-num{
	top:130px;
	font-size:14px;
}

.mask{
	width:100%;
	height:100%;
	background: rgba(0,0,0,.5);
	position: absolute;
	top:0;
	left:0;
}

.dy-handle-box{
	margin-top:10px;
	display: flex;
	justify-content:flex-end;
}
.dy-handle-box .dy-icon{
	width:32px;
	height:16px;
	margin-left:30px;
	padding-left: 20px;	
}
.icon-thumbs-up{
	background: url(../images/like.png) no-repeat;
}
.icon-comment{	
	background: url(../images/community.png) no-repeat;
}
.icon-external-link{
	background: url(../images/forward.png) no-repeat;
}
.dy-main-side-box{
	width:200px;
	margin-left:15px;
}

.dy-side-section{
	width:200px;
	background-color: #fff;
	margin-top:20px;
	
}

.dy-login-user-box{
	padding:10px 0;
}

.dy-side-section .avater-box{	
	text-align: center;

}
.dy-side-section .avater-box img{
	width:58px;
	height:58px;
	border-radius: 50%;
}
.dy-side-section .dy-login-uname{
	text-align: center;
	height: 32px;
	line-height: 32px;
}
.dy-side-section .dy-login-uname a{
	color:#499bd4;
	font-size: 14px;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.dy-side-section .dy-module-link-box{
	display: flex;
	font-size: 13px;
}
.dy-side-section .dy-module-link-box span{
	flex:1;
	justify-content: space-between;	
	text-align: center;
}
.dy-side-section .dy-module-link-box span a{
	display: block;
	margin-top:2px;
}


.dy-side-topic-list{

}
.dy-side-topic-list li{
	margin-bottom: 1px;
	position: relative;
}
.dy-side-topic-list img{
	width:200px;
	height:100px;
}
.dy-side-section .dy-side-topic-info{
	width:100%;
	height:100px;
	background: rgba(0,0,0,.5);
	color:#fff;
	position: absolute;
	top:0;
	left:0;
	vertical-align: middle;
	text-align: center;
}

.dy-side-section .dy-side-topic-title, .dy-side-section .dy-side-topic-num{
	display: block;
	position: relative;
	left:0;
	right:0;
	margin:0 auto;
}
.dy-side-section .dy-side-topic-title{
	top:35px;	
}
.dy-side-section .dy-side-topic-num{
	top:40px;	
}


.dy-side-head{
	height: 38px;
	line-height: 38px;
	padding-left: 10px;
	position: relative;
}

.dy-side-head .more-link{
	position: absolute;
	right:10px;
}
.dy-side-recd-user-list{
	padding:0 10px;
}
.dy-side-recd-user-list li{
	display: flex;
	border-bottom: 1px solid #f2f2f2;
	padding:8px 0;
}
.dy-side-recd-user-list li:last-child{
	border-bottom: none;
}
.dy-side-recd-user-list .dy-side-user-info{
	color:#a3a3a3;
	flex:0 0 30px;	
	margin-left: 10px;
}
.dy-side-recd-user-list .dy-side-user-info a,.dy-side-recd-user-list .dy-side-user-info span{
	display: inline-block;
	width:60px;	
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.dy-side-recd-user-list .dy-side-user-info a{
	color:#3f9bd7;
}
.dy-side-recd-user-list .avater-box img{
	width:43px;
	height: 43px;
}	
.attention-btn-box{
	margin-left: 10px;	
}
.attention-btn{
	display: inline-block;
	width:46px;
	height: 19px;
	text-align: center;
	border:solid 1px #3f9bd7;
	border-radius: 8px;
	color:#3f9bd7;
}

